@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
    color-scheme: dark light;
}

* {
    margin: 0;
    /* font-family: "Anek Devanagari", sans-serif; */
}


body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

.background {
    background-image: url("../assets/background.svg");
}

.pokemon-card {
    position: relative;
    width: 328px;
    height: 501px;
}

.pokemon-card::after {
    content: "";
    width: 328px;
    height: 501px;
    display: block;
    position: relative;
    background-image: url("../assets/list_pokemon_bg.avif");
}

.glow {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
}