@import url(https://db.onlinewebfonts.com/c/073a3b73a63a87e100f6bb8f003fc0d3?family=Flexo-Demi);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Flexo-Demi";    
}

body{
    background-color: #F3EEEA;
}

header{
    padding: 1rem 0;
    background-color: #776B5D;
    color: #8EACCD;
    text-align: center;
}

main{
    margin: .5rem 1.5rem;
}